/*----------共同結構設定----------*/
/*-------共同版面設定--------*/
.full_layout{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.half_layout{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.narrow_layout{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}
.samll_layout{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.margin_auto{
    margin: 0 auto;
}
.overflow_hidden{
    overflow: hidden;
}
.boxsizing_border{
    box-sizing: border-box;
}
#main-content{
    width: 1170px;
    margin: 0 auto;
}

/*-----頁首版面設定-----*/
#header{
    height: 165px;
    width: 1170px;
    margin: 0 auto;
    padding: 15px 0;
}
#logo{
    float: left;
    background-image: url(../images/logo-1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#ligo a{
    display: block;
    width: 330px;
    height: 165px;
}
#logo span{
    /*visibility: hidden;人在看不到*/
    /*display: none;noshow*/
    opacity: 0;/*人在透明掉*/
}

/*------選單設定------*/
/*----外層結構----*/
#nav{
    width: 800px;
    float: right;
    margin-top: 50px;
}

/*-----上層固定-----*/
#top-nav{
    float: right;
    width: 100%;
    font-size: var(--h6);
    text-transform: uppercase;
    margin: 0 20px 20px 0;/*上 右 下 左*/
}
#top-nav a{
    display: block;
    margin-left: 30px;
    float: right;
}
#top-nav a:hover{
    text-decoration: none;
}
#top-nav .material-icons, #main-nav .material-icons{
    transform: translate(-20%, 25%)!important;
    margin: 0 5px!important;
}
/*----主選單----*/
#main-nav{
    float: right;
    font-size: var(--h4);
}
#main-nav li{
    float: left;
    position: relative;
}
#main-nav a{
    display: block;
    width: 120px;
    text-align: center;
    line-height: calc(var(--size_normal)*4);
    margin-left: 40px;
    background-color: var(--white);
    color: var(--grey);
}
#main-nav a:hover, #main-nav a:active{
    color: var(--pink);
    text-decoration: none;
    background-color: var(--piggy);
    border-bottom: 3px solid var(--grey);
}

/*----子選單----*/
#main-nav li li{
    font-size: var(--h5);
}
#main-nav ul ul{
    visibility: hidden;
    position: absolute;
    top: 100%;
    z-index:99;
}
#main-nav li:hover>ul{
    visibility: visible;
}

/*----內頁橫幅設定----*/
.hero-image{
    background: url('../img/eco_friendly_120cd6de-0473-47d2-bbf4-45f526c82391.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    position: relative;
    margin: 30px 0 50px;
}

.hero-text{
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

.hero-text button{
    border: none;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--pink);
    font-size: var(--small);
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-top: 15px;
}

.hero-text button:hover{
    background-color: var(--white);
    color: var(--pink);
    box-shadow: 0 0 10px 5px var(--pink);
    font-weight: bolder;
}

/*----頁尾版面設定----*/
#footer{
    width: 1170px;
    height: 95px;
    clear: both;
    margin: 0 auto;
}
#small-logo, #copyright{
    float: left;
    padding-top: 25px;
}
#small-logo img{
    height: 50%;
    width: auto;
}
#copyright small, #copyright a{
    margin-left: 15px;
    font-size: var(--size_normal);
    padding-top: 20px;
    display: inline-block;
}
#sns{
    float: right;
    padding-top: 35px;
}
#sns a{
    margin: 0 10px;
    float: left;
    display: block;
    width: 40px;
    height: 40px;
}
#sns a img{
    width: 100%;
    height: auto;
}

#sns a:hover{
    text-decoration: none;
}

/*----Go Top設定----*/
#gotop{
    text-align: center;
    position: fixed;
    bottom: 55px;
    right: 30px;
}
#gotop .material-icons{
    font-size: 60px !important;
    color: var(--pink);
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 0 8px 1px var(--mimi);/*8px: 模糊, 1px: 強度*/
}
#gotop .gotip{
    display: block;
    width: 130px;
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin-top: 5px;
}
#gotop a{
    text-decoration: none;
}
#gotop:hover, #gotop:active{
    filter: drop-shadow(1px 1px 5px var(--grey));
}
/*----------各頁版面設定----------*/
/*-------首頁版面設定--------*/
/*----橫幅設定-----*/
#banner{
    width: 100%;
    height: 540px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px;
}
#banner img{
    width: 100%;
    height: auto;
}
/*----內容區塊設定-----*/
.slogan{
    width: 360px;
    height: 480px;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0 0 15px 10px var(--mimi);
    float: right;
}
.slogan h2{
    color: var(--pink);
}
.slogan p{
    margin-top: 20px;
}
.post{
    width: 330px;
    height: 500px;
    margin-right: 40px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--gainsboro);
}
.post_title{
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: var(--h6);
    color: var(--pink);
    text-align: center;
}
.post_img{
    width: 330px;
}
.post_img img{
    width: 100%;
    height: auto;
}
.post_text{
    width: 290px;
    height: 145px;
    padding: 30px 20px 0;
    font-size: var(--normal);
    line-height: 1.4;
}
.post .more{
    font-style: var(--small);
    text-align: right;
    margin-top: 20px;
    padding-right: 20px;
}
.post .more a{
    font-weight: bolder;
}
.post .more a:hover{
    font-style: italic;
}
.post .more a .material-icons{
    font-size: 16px !important;
    transform: translate(50% 33%);
}


/*----PICSHOW設定-----*/
#picshow{
    clear: both;
    display: flex;
    padding: 30px 0;
}
#picshow a, #picshow a img{
    width: 100%;
}

/*----內嵌影片設定-----*/
#movie{
    margin-bottom: 30px;
}
#movie iframe{
    width: 100%;
    height: 465px;
}

/*----About版面設定-----*/
/*----文字區塊設定-----*/
#maintxt{
    text-align: center;
    padding: 20px 15%;    
}
#maintxt p{
    margin-bottom: 15px;
}

/*----logo區塊設定-----*/
#mainpic{
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 250px 250px;
    border: 16px solid var(--piggy);
}

#mainpic img{
    width: 100%;
    height: auto;
    border: 8px solid var(--piggy);
    box-sizing: border-box;
}

.item1{
    grid-area: 1/1/2/2;
}
.item2{
    grid-area: 2/1/3/2;
}

.item3{
    grid-area: 1/2/3/3;
}

.item4{
    grid-area: 1/3/2/4;
}

.item5{
    grid-area: 2/3/3/4;
}


/*----表單+地圖區塊設定-----*/
#contact_form, #map{
    width: 49%;
}
#contact_form{
    float: left;
}
#map{
    float: right;
}
#contact_form input, #contact_form textarea{
    width: calc(100% - 20px);
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: content-box;
    border: 1px solid var(--pink);
    border-radius: 4px;
    font-size: var(--normal);
    background-color: var(--piggy);
}
#contact_form textarea{
    font-family: "Nanum Gothic","微軟正黑體","sans-serif";/*textarea不受html,body控制*/
    height: 125px;
}

#contact_form input::placeholder, #contact_form textarea::placeholder{
    color: var(--pink);
}
#contact_form input:focus, #contact_form textarea:focus{
    border-color: var(--success);
    outline: var(--success);
    background-color: var(--white);
    box-shadow: 0 0 3px var(--grey);
}

/*----Stores版面設定-----*/
.subtext{
    font-size: var(--h5);
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}

/*----Flex排版,適用單一檢視-----*/
.allbox{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    display: flex;
} 

/*----Float排版-----*/

.officebox{
    flex: 1;
    height: 265px;
    width: 350px;
    border-radius: 35px;
    margin: 30px;
    position: relative;
    box-shadow: 0 3px 15px 1px var(--spaninsh);
}
.officebox:hover{
    cursor: pointer;
    box-shadow: 0 0 8px 4px var(--mimi);
}

/*----officebox區塊內排版-----*/
.officebox img{
    width: 100%;
    height: 265px;
    border-radius: 35px;
}
.middle{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pink);
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    font-size: var(--h6);
    font-weight: bold;
}
.officebox:hover img{
    opacity: 0.3;
    filter: blur(4px);
}
.officebox:hover .middle{
    opacity: 1;
    transition: 0.6s linear;
}

/*----Products版面設定-----*/
/*----產品介紹設定-----*/
.demobox{
    width: 360px;
    height: 500px;
    margin: 15px;
    border: 4px solid var(--pink);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 var(--grey);
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.demobox h6{
    color: var(--pink);
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}
.demobox a div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--pink);
    background-size: cover;
    margin: 0 auto;
}
.demobox .more{
    display: block;
    font-size: var(--small);
    text-align: right;
    margin-right: 15px;
}
.demobox .more .material-icons{
    font-size: 18px;
    transform: translate(15%, 25%);
}

/*----News版面設定-----*/
/*----圖文板塊設定-----*/
.newspost{
    margin: 20px auto;
    padding: 10px;
    border-bottom: dotted 1px var(--grey);
    overflow: hidden;
}
.news_pic{
    width: 350px;
    height: 280px;
    float: left;
    overflow: hidden;
}
.news_pic img{
    height: 280px;
    width: auto;
}
.new_txt{
    width: 800px;
    height: 300px;
    padding: 0 30px;
    box-sizing: border-box;
    float: right;
    position: relative;
}
.new_txt .category{
    line-height: 45px;
    border: 1px solid var(--pink);
    border-radius: 12px;
}

/*----SVG設定-----*/
.category svg{
    margin: 0 20px;
    vertical-align: middle;
}
.myicon{
    fill: var(--pink);
    transition: fill 0.2s linear;
}
.myicon:hover, .myicon:active{
    fill: var(--grey);
    cursor: pointer;
}
/*----標籤文字設定-----*/
.category a{
    text-transform: uppercase;
    background-color: var(--piggy);
    padding: 5px 8px;
    border-radius: 3px;
    margin-right: 5px;
}
.category a:hover, .category a:active{
    text-decoration: none;
    box-shadow: 0 0 2px var(--grey);
}
.category a::before{
    content: "#";
    margin-right: 3px;
}

/*----日期設定-----*/
.date{
    display: block;
    float: right;
    margin-right: 20px;
    line-height: 45px;
    font-size: var(--h6);
    color: var(--pink);
}
.date_month{
    font-size: var(--normal);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
}
.date_day{
    background-color: var(--pink);
    color: var(--white);
    border-radius: 50%;
    padding: 7px;
}

/*----內容文字設定-----*/
.new_txt h4{
    margin: 10px 0;
    line-height: 1.2;
}
.new_txt .more{
    position: absolute;
    right: 40px;
    bottom: 20px;
}

/*----頁面導覽設定-----*/
#nav_bar{
    height: 50px;
    text-align: center;
    font-size: var(--normal);
    line-height: 50px;
}

/*----導覽數字設定-----*/
#nav_bar a{
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--mimi);
    color: var(--white);
    line-height: 30px;
}
#nav_bar a:hover, #nav_bar:active{
    text-decoration: none;
    background-color: var(--silver);
}
#nav_bar .current-icon{
    background-color: var(--pink) !important;
}
#nav_bar .current-icon:hover, #nav_bar .current-icon:active{
    cursor: default;
}

/*----News_Lady版面設定-----*/
/*----橫幅設定-----*/
.hero-text a{
    color: var(--pink);
}
.hero-text a:hover{
    text-decoration: none;
    color: var(--error);
    text-shadow: 1px 1px 5px var(--black);
}
.hero-text .material-icons{
    font-size: 32px !important;
    transform: translate(-10%, 25%);
}

/*----內容區塊設定-----*/
#main-content h1{
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#main-content .row{
    margin: 10px -10px;
    padding: 10px;
    display: flex;
}

#main-content .row .column{
    /*float: left;
    width: 25%;*/
    flex: 1;
}

/*----圖片設定-----*/
.column, figure{
    padding: 10px;
    margin-bottom: 30px;
}

figcaption{
    font-size: var(--small);
    line-height: 1.2;
}

.column img, figure img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.7;
    filter: grayscale(50%);
    margin: 10px 0;
    transition: 0.3s;
}

.column img:hover, figure img:hover{
    opacity: 1;
    filter: grayscale(0%) drop-shadow(5px 5px 5px var(--grey));
    /*同時使用多個Filter時，記得將屬性以空白隔開就好*/
}

/*----文字細部設定-----*/
#main-content .row .column .category{
    font-weight: bolder;
    margin: 10px 0;
    color: var(--pink);
}

.collaps_text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.column-text{
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px dotted var(--spanish);
    margin-bottom: 10px;
}

/*----News_Girl設定-----*/
/*----版面區塊設定-----*/
.leftcolumn{
    float: left;
    width: 75%;
}
.rightcolumn{
    float: right;
    width: 25%;
}

/*----圖文區塊設定-----*/
.card{
    background-color: var(--white);
    padding: 20px;
    margin: 20px;
}
.card h2{
    text-transform: none;
    line-height: 1.1;
    margin-bottom: 10px;
}
.card h5{
    line-height: 1.5;
}
.card p{
    line-height: 1.5;
    margin-bottom: 20px;
}
.leftcolumn .card p{
    text-align: justify;
}
.leftcolumn .card p img{
    float: left;
    filter: drop-shadow(5px 5px 5px var(--grey));
    width: 50%;
    height: auto;
}
.cardimg{
    width: 100%;
    height: auto;
    margin: 10px auto 5px;
}
.card img{
    width: 100%;
    height: auto;
}
.card span{
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
}

/*----News_Child設定-----*/
/*----內容區塊設定-----*/
.container{
    position: relative;
    cursor: pointer;
}
.content_box{
    overflow: hidden;
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 15px;
    box-shadow: 0 0 5px var(--spanish);
}

/*----推疊區塊設定-----*/
.overlay{
    position: absolute;
    bottom: 13px;
    left: 10px;
    background-color: rgba(241, 138, 184, 0.1);
    border-radius: 0 0 15px 15px;
    width: calc(100% - 20px);
    height: 0;
    transition: 0.5s ease;
}
.container:hover .overlay{
    height: 50%;
    background-color: rgba(241, 138, 184, 0.7);
}
.text{
    color: rgba(255, 255, 255, 0);
    font-size: var(--h4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .overlay .text{
    color: rgba(255, 255, 255, 1);
}

/*----Contact版面設定-----*/
/*----3圖區塊設定-----*/
.features_box{
    height: 500px;
    position: relative;
}
.pic_circle{
    border-radius: 50%;
    border: solid 2px var(--white);
    box-shadow: 0 0 15px 1px var(--pink);
    background-position: center;
    background-size: cover;
}
.pic_circle:first-child{/*第一張:左*/
    background-image: url(../images/Contact1.jpg);
    width: 376px;
    height: 376px;
    float: left;
    transform: translateY(17%);
}
.pic_circle:last-child{/*第三張:中*/
    background-image: url(../images/Contact2.jpg);
    width: 488px;
    height: 488px;
    position: absolute;
    bottom: 0;
    left: 29%;
}
.pic_circle:nth-child(2){/*第二張:右*/
    background-image: url(../images/banner55.jpg);
    width: 376px;
    height: 376px;
    float: right;
    transform: translateY(17%);
}

/*----計數器設定-----*/
.steps{
    counter-reset: mystep step_word; /*mystep圓圈中的數字 step_word標題中的數字*/
}

.step{
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

/*----圓圈數字設定-----*/
.step::before{
    display: block;
    width: 45px;
    height: 45px;
    content: counter(mystep);
    counter-increment: mystep;
    font-size: 35px;
    line-height: 45px;
    font-weight: bolder;
    color: var(--pink);
    background-color: var(--white);
    border-radius: 50%;
    border: 3px solid var(--pink);
    padding: 5px;
    margin: 35px auto;
}

/*----標題數字設定-----*/
.step h4::after{
    content: counter(step_word);
    counter-increment: step_word;
}

/*----文字設定-----*/
.step h4{
    font-size: var(--h2);
    color: var(--grey);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.step p{
    font-size: var(--h6);
    color: var(--grey);
    line-height: 1.3;
}

/*----active文字設定-----*/
.active h4, .active p{
    color: var(--pink);
    font-weight: bolder;
}

/*----尚未執行文字設定-----*/
.active~.step h4, .active~.step p{
    color: var(--spanish);
}

/*----第一個數字後面的連接線-----*/
.step::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--pink);
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: -1;
}

/*----Active數字前面的連接線-----*/
.active::before{
    background-color: var(--pink);
    color: var(--white);
    border-color: var(--white);
    box-shadow: 0 0 10px var(--spanish);
}

/*----尚未執行數字設定-----*/
.active~.step::before{
    background-color: var(--spanish);
    color: var(--white);
    border-color: var(--silver);
}

/*----尚未執行的連結線-----*/
.active~.step::after{
    background-color: var(--spanish);
    transform: translateX(-94%);
}